/* CLASS SELECTORS */

.active-nav-link {
    background-color: #4CAF50;
}

.d-in {
    display: inline;
}

.icon-background {
    color: red;
}

.m-0 {
    margin: 0;
}

.p-0 {
    padding: 0;
}

.page-section {}

.page-section-heading {
    font-size: 3.25rem;
    line-height: 2rem;
}

.profile-description {
    padding: 20px;
}

.text-center {
    text-align: center;
}

/* ELEMENT SELECTORS */

body {
    margin: 0px;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
}

hr {
    border: 1.5px solid black;
    width: 25%;
}

html {
    scroll-behavior: smooth;
    height: 100%;
    overflow-x: hidden;
}

section {
    /* min-height: 90vh; */
    /* padding: 8rem 0; */
}

/* ID SELECTORS */

#about {
    /* background-color: #EFACAC; */
}

#about-anchor, #projects-anchor, #blog-anchor, #contact-anchor {
    visibility: hidden;
    display: block;
    position: relative;
}

#background-pic {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/lobostudio-hamburg-359753-unsplash.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}

#background-pic-caption-container {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
}

#bio-details {
    margin-top: 10px;
    width: 65%;
}

#blog {
    /* background-color: blue; */
}

#contact {
    /* background-color: red; */
}

#me {
    max-width: 200px;
    border-radius: 10px;
}

#navbar {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    list-style-type: none;
    overflow: hidden;
    background-color: #333;

    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 20px
}

#profile-card {
    /* background-color: #3A1818; */
    /* margin-left: 10px; */
}

#profile-description {}

#profile-pic {}

#profile-pic-container {
    text-align: center;
}

#projects {
    /* background-color: red; */
}

/* OTHER SELECTORS */

.fa-lg:hover {
    opacity: 0.5;
}

#navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    overflow: hidden;
}

#navbar a:hover {
    background-color: #111;
}

#navbar li {
    float: right;
}

/* MEDIA QUERIES * /

@media (max-width: 600px) {}

@media (max-width: 768px) {}

@media (min-width:320px) {
    /* smartphones, iPhone, portrait 480x320 phones */

}

@media (min-width:481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width:641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (min-width:961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width:1025px) {
    /* big landscape tablets, laptops, and desktops */
}

@media (min-width:1281px) {
    /* hi-res laptops and desktops */
}