/**************************************************************************************************************************/

/* RESET AND SETUP ELEMENTS */

/**************************************************************************************************************************/

body {
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
    height: 100%;
    overflow-x: hidden;
    /* width: 100%; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**************************************************************************************************************************/

/* GENERAL */

/**************************************************************************************************************************/

p {
    line-height: 1.6;
}

#about-anchor, #projects-anchor, #blog-anchor, #contact-anchor {
    visibility: visible;
    display: block;
    height: 0px;
    bottom: 50px;
    position: relative;
}

section hr {
    margin-bottom: 30px;
}

.bg-primary {
    background-color: #157ffb;
}

.bg-dark {
    background-color: #343a40;
}

.bg-light {
    background-color: #f8f9fa;
}

.primary-button {
    background-color: #157ffb;
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}

.m-0 {
    margin: 0;
}

.p-0 {
    padding: 0;
}

.page-section-heading {
    padding-bottom: 10px;
    padding-top: 5%;
    text-align: center;
    font-size: 50px;
}

.section-hr {
    border: 1.5px solid black;
    width: 25%;
}

.text-center {
    text-align: center;
}

/**************************************************************************************************************************/

/* ELEMENT SELECTORS */

/**************************************************************************************************************************/

h1 {
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
    padding-top: 50px;
}

section {
    min-height: calc(100vh - 50px);
}

ul {
    list-style-type: none;
}

/**************************************************************************************************************************/

/* HOME SECTION */

/**************************************************************************************************************************/

#background-pic {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/bg.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}

#background-pic-caption-container {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
}

/**************************************************************************************************************************/

/* BLOG SECTION */

/**************************************************************************************************************************/

#blog {
    background-color: red;
}

/**************************************************************************************************************************/

/* CONTACT SECTION */

/**************************************************************************************************************************/

#contact {
    background-color: rgb(211, 137, 77);
}

/**************************************************************************************************************************/

/* NAVBAR */

/**************************************************************************************************************************/

.active-nav-link {
    background-color: #4CAF50;
}

#navbar {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 50px;
}

#navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 0px 15px;
    text-decoration: none;
    overflow: hidden;
    height: 50px;
}

#navbar a:hover {
    background-color: #111;
}

#navbar li {
    float: right;
    height: 50px;
}

/**************************************************************************************************************************/

/* PROJECTS SECTION */

/**************************************************************************************************************************/

#projects {
    background-color: blue;
}

/**************************************************************************************************************************/

/* ABOUT SECTION */

/**************************************************************************************************************************/

#download-CV-button {
    /* width: 30%; */
}

#github-button {
    /* width: 5%; */
}

#linked-in-button {
    /* width: 5%; */
}

#about-first-flex-container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
}

#profile-description {
    /* float: left; */
}

#about-para-flex-container {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.primary-button:hover {
    background-color: #479dff;
    color: white;
}

.fa-lg:hover {
    opacity: 0.5;
}

#about-img {
    /* border-radius: 10px 0 0 10px;*/
    width: 200px;
    /* float: left; */
}

#about-para-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#about {
    /* background-color: rgb(9, 4, 98); */
}

#about-second-flex-container {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#about-second-wrapper li {
    padding: 10px;
    flex: 1;
    margin: 0 10px;
}

.icon-background {
    color: red;
}

/* MEDIA QUERIES */

/* remove later */

.border {
    border: solid 1px;
}

.in-bl {
    display: inline-block;
}