/**************************************************************************************************************************/

/* RESET AND SETUP ELEMENTS */

/**************************************************************************************************************************/

body {
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
    height: 100%;
    overflow-x: hidden;
}

* {
    margin: 0 0;
    padding: 0;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

hr {
    margin: 0 0;
}

/**************************************************************************************************************************/

/* GENERAL */

/**************************************************************************************************************************/

p {
    line-height: 1.6;
}

a {
    text-decoration: none !important;
}

#about, #projects, #blog, #contact {
    visibility: visible;
    display: block;
    height: 0px;
    bottom: 50px;
    position: relative;
}

.bg-primary {
    background-color: #157ffb;
}

.bg-dark {
    background-color: #343a40;
}

.bg-light {
    background-color: #f8f9fa;
}

.primary-button {
    background-color: #157ffb;
    width: 200px;
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}

.page-section-heading {
    /* border: 1px solid; */
    font-size: 60px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
}

.section-hr {
    margin: 0 auto;
    border: 1.5px solid;
    width: 50%;
}

.text-center {
    text-align: center;
}

h1 {
    font-family: 'Abril Fatface', sans-serif;
    margin: 0px;
}

section {
    min-height: calc(100vh - 50px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

li {
    list-style-type: none;
}

#about-main-content-container, #projects-main-content-container, #blog-main-content-container, #contact-main-content-container {
    padding-bottom: 50px;
}

/**************************************************************************************************************************/

/* HOME SECTION */

/**************************************************************************************************************************/

#background-pic-container {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/bg-mountain-sm.jpg);
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/bg-mountain-sm.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/bg-mountain-sm.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#home-msg-first-row, #home-msg-second-row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.letter-wrapper {
    /* border: 1px solid red; */
    position: relative;
    overflow: hidden;
    height: 56px;
    min-width: 48px;
    display: inline-block;
    text-align: center;
    margin-right: 2px;
}

.span-letter {
    font-size: 35px;
    background-color: #949494;
    position: absolute;
    -webkit-animation: slide .05s forwards;
    animation: slide .05s forwards;
    left: -100%;
}

@-webkit-keyframes slide {
    100% {
        left: 0;
        width: 100%;
    }
}

@keyframes slide {
    100% {
        left: 0;
        width: 100%;
    }
}

.blinking-cursor {
    -webkit-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
    font-weight: bold;
}

@-webkit-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: black;
    }
}

@keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: black;
    }
}

/**************************************************************************************************************************/

/* NAVBAR */

/**************************************************************************************************************************/

.active-nav-link {
    background-color: #4CAF50;
}

#navbar {
    -webkit-box-shadow: 0 0.5rem 1rem #00000026;
    box-shadow: 0 0.5rem 1rem #00000026;
    background-color: #0B0C10;
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 50px;
    margin-bottom: 0;
    z-index: 100;
}

#navLinks a, #navIcon a {
    display: block;
    text-align: center;
    padding: 14px 15px;
    overflow: hidden;
    color: #66FCF1;
}

#navLinks li:hover:not(.active-nav-link) {
    background-color: rgb(76, 174, 79, 0.5);
}

#navbar li {
    float: right;
    height: 50px;
}

#navIcon {
    display: none;
}

#mobileNavLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: calc(50vh - 50px);
    width: 100%;
    position: fixed;
    background-color: rgb(34, 35, 43);
    top: -50vh;
    z-index: 50;
}

#mobileNavLinks li {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    /* align-items: center;
    justify-content: center; */
    color: #66FCF1;
}

#mobileNavLinks a {
    color: #66FCF1;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.openMobileNavLinks {
    top: 50px !important;
    -webkit-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    /* -webkit-transition: 300ms; */
}

.closeMobileNavLinks {
    top: -50vh !important;
    -webkit-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    /* -webkit-transition: 300ms; */
}

/**************************************************************************************************************************/

/* ABOUT SECTION */

/**************************************************************************************************************************/

#about-main-content-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

#download-CV-button {
    margin-top: 10px;
    margin-right: 0;
    margin-left: auto;
}

#about-first-flex-container {
    background-color: #1F2833;
    width: 70%;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-basis: 350px;
    flex-basis: 350px;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0 4px 8px 0 #00000033;
    box-shadow: 0 4px 8px 0 #00000033;
}

#about-second-flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 70%;
    margin-top: 20px;
    margin-bottom: 0;
}

#about-second-flex-container li {
    background-color: #1F2833;
    padding: 10px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0 10px;
    border-radius: 10px;
}

#profile-description {
    /* float: left; */
    text-align: justify;
}

#about-para-flex-container {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-preferred-size: 500px;
    flex-basis: 500px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.primary-button:hover {
    background-color: #479dff;
    color: white;
}

#about-img {
    border-radius: 10px 0 0 10px;
    max-width: 200px;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
}

.icon-background {
    /* color: red; */
}

/**************************************************************************************************************************/

/* PROJECTS SECTION */

/**************************************************************************************************************************/

#projects-section {
    overflow: auto;
    background-color: #1F2833;
}

#projects-main-content-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

/**************************************************************************************************************************/

/* BLOG SECTION */

/**************************************************************************************************************************/

#blog {}

#blog-main-content-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /* flex-direction: column; */
}

.blog-card {
    max-width: 286px;
    max-height: 400px;
    overflow: hidden;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.blog-post-container {
    padding: 10px;
}

.blog-post-container p {
    text-align: justify;
}

.blog-post-container span {
    font-size: 13px;
    color: grey;
    font-style: italic;
}

#blog-main-content-container .blog-card:nth-child(1) {
    margin-right: 25px;
}

#blog-main-content-container .blog-card:nth-child(3) {
    margin-left: 25px;
}

.blog-card:hover {
    -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.blog-thumb-img {
    width: 286px;
}

/**************************************************************************************************************************/

/* CONTACT SECTION */

/**************************************************************************************************************************/

#contact-section {
    overflow: auto;
    background-color: #1F2833;
}

#contact-main-content-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

#contact-form {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#email-input, #text-area-input, #submit-button {
    margin-top: 15px;
}

textarea {
    height: 150px;
    resize: none;
}

input, textarea {
    width: 100%;
    padding: 10px 10px;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
}

/**************************************************************************************************************************/

/* FOOTER */

/**************************************************************************************************************************/

#footer {
    height: 120px;
    background-color: #0B0C10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    color: #949494;
    padding-top: 10px;
}

.footer-text {
    margin: 0;
    font-size: 13px;
    margin-bottom: 20px;
}

.footer-text p {
    line-height: 0.;
    margin: 0;
}

.footer-icons {
    width: 90px;
    margin-top: 20px;
}

.fa-github {
    float: right;
}

.fa-linkedin {
    float: left;
}

.fa-github, .fa-linkedin {
    color: #949494;
}

.fa-github:hover, .fa-linkedin:hover {
    color: #66fCF1;
}

/* color: #66fCF1; */

/**************************************************************************************************************************/

/* MEDIA QUERIES */

/**************************************************************************************************************************/

@media only screen and (max-width: 767px) {
    /* GENERAL */
    #about-main-content-container, #projects-main-content-container, #blog-main-content-container, #contact-main-content-container {
        margin-top: auto;
    }
    /* NAVBAR */
    #background-pic-container {
        display: none;
    }
    /* ABOUT */
    #about-img {
        margin: 8% auto;
        border-radius: 0px 0px 0px 0px;
    }
    #about-main-content-container {
        padding: 30px 0;
    }
    #about-first-flex-container {
        width: 85%;
    }
    #about-second-flex-container li {
        margin: 1px 0;
        min-width: 100%;
    }
    .section-hr {
        width: 70%;
    }
    #download-CV-button {
        margin-right: auto;
    }
    /* NAVBAR */
    #navLinks {
        display: none;
    }
    #navIcon {
        display: block;
    }
    /* BLOG */
    #blog-main-content-container .blog-card:nth-child(1) {
        /* margin-right: 0; */
        margin: 8% auto;
    }
    #blog-main-content-container .blog-card:nth-child(3) {
        /* margin-left: 0; */
        margin: 8% auto;
    }
    /* CONTACT */
    #contact-form {
        width: 85%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    #contact-main-content-container {
        /* padding: 30px 0; */
    }
}

/**************************************************************************************************************************/

/**************************************************************************************************************************/

/* remove later */

.in-bl {
    display: inline-block;
}

.border {
    border: 1px solid;
}

/* THEMES */

/* 12 Striking and Simple */

.blk {
    color: #0B0C10;
}

.dark-grey {
    color: #1F2833;
}

.pink {
    color: #C5C6C7;
}

.light-blue {
    color: #66fCF1
}

.light-grey {
    color: #45A29E
}

/* #ones {
    position: fixed;
    height: 50px;
    background-color: red;
    top: 50px;
    right: 0;
    left: 0;
} */