/**************************************************************************************************************************/

/* RESET AND SETUP ELEMENTS */

/**************************************************************************************************************************/

* {
    margin: 0 0;
    padding: 0;
    -webkit-box-sizing: border-box !important;
            box-sizing: border-box !important;
    font-family: 'Montserrat', sans-serif;;
}

/**************************************************************************************************************************/

/* SIDEBAR */

/**************************************************************************************************************************/

/* check https://codepen.io/keplerweb/pen/rGPObW for post history animation */

#sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 80%;
    background-color: #1F2833;
    -webkit-box-shadow: 5px 0 10px #413939;
            box-shadow: 5px 0 10px #413939;
    z-index: 1;
}

#sidebar-heading {
    padding-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60px;
    color: #66fcf1;
    background-color: #0B0C10;
    border-bottom: solid 1px;
    border-color: #66fcf1;
    /* box-shadow: 0 5px 5px; */
}

#sidebar-main {
    padding: 20px;
    color: #66fCF1;
}

#sidebar-main li {
    list-style: none;
}

#sidebar-main a {
    text-decoration: none;
    color: #66fCF1;
}

#sidebar-main a:hover {
    text-decoration: underline;
}

#sidebar-main li {
    font-size: 12px;
    margin-left: 5px;
}

#sidebar-main h5 {
    margin-left: 2px;
}

#sidebar-main * {
    line-height: 1.6;
}

#home-link-img {
    width: 30px;
}

#post-title-separator {
    margin-left: 5px;
    margin-right: 5px;
}

/**************************************************************************************************************************/

/* MAIN CONTENT */

/**************************************************************************************************************************/

#main-content {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 20%;
    margin-right: 0;
    padding: 20px 70px;
    overflow: scroll;
}

#main-content h1 {
    min-height: 100px;
    font-family: 'Abril Fatface', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 60px;
    overflow: auto;
    padding-bottom: 10px;
}

#main-content p, #main-content li {
    text-align: justify;
    line-height: 1.6;
}

#main-content a {
    text-decoration: none;
}

#main-content a:hover {
    text-decoration: underline;
}

#main-content li {
    margin-left: 30px;
}

#main-content img {
    max-width: 800px;
}

.small-date-text {
    font-size: 14px;
    font-style: italic;
    text-align: right !important;
}

pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}

blockquote {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 30px;
    padding-left: 10px;
    margin-right: 40px;
    border-left: 3px solid #ccc;
}

/**************************************************************************************************************************/

/* MEDIA QUERIES */

/**************************************************************************************************************************/

@media only screen and (max-width: 767px) {
    #sidebar {
        position: static;
    }

    #main-content {
        position: static;
        padding: 10px 10px;
    }
}

/**************************************************************************************************************************/

/* DELETE LATER */

/**************************************************************************************************************************/

.border {
    border: solid 1px;
}
