<!DOCTYPE html>
<html lang="en">

<head>
        <title>Fabian Tauriello</title>
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
                integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
                crossorigin="anonymous">
        <link rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet"
                href="https://fonts.googleapis.com/css?family=Lobster|Abril+Fatface|Archivo|Anton|Notable|Cardo|Cormorant|Fira+Sans|Fjalla+One|Frank+Ruhl+Libre|Karla|Bebas+Neue|Lora|Montserrat|Playfair+Display|Playfair+Display+SC|Roboto|Rubik|Spectral|Spectral+SC|Ubuntu">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/main.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

        <header>
                <!-- BACKGROUND PIC -->
                <div id="background-pic-container">
                        <div id="home-msg-first-row" class="">
                        </div>
                        <div id="home-msg-second-row" class="">
                        </div>
                </div>
                <!-- BACKGROUND PIC END -->
        </header>

        <!-- MAIN AREA -->
        <main id="main">
                <!-- NAV BAR -->
                <ul id="navbar">
                        <div id="navLinks">
                                <li class="navLink"><a href="#contact">Contact</a></li>
                                <li class="navLink"><a href="#blog">Blog</a></li>
                                <li class="navLink"><a href="#projects">Projects</a></li>
                                <li class="navLink"><a href="#about">About</a></li>
                                <li class="navLink active-nav-link"><a href="#">Home</a></li>
                        </div>
                        <li id="navIcon" onclick="toggleNavLinks()" class="navIcon"><a href="javascript:void(0);"><i
                                                class="fa fa-bars"></i></a></li>

                </ul>
                <div id="mobileNavLinks">
                        <li><a href="#about" onclick="toggleNavLinks()">About</a></li>
                        <li><a href="#projects" onclick="toggleNavLinks()">Projects</a></li>
                        <hr>
                        <li><a href="#blog" onclick="toggleNavLinks()">Blog</a></li>
                        <hr>
                        <li><a href="#contact" onclick="toggleNavLinks()">Contact</a></li>
                        <hr>
                </div>
                <!-- NAV BAR END -->

                <!-- ABOUT SECTION -->
                <div id="about"></div>
                <section class="">
                        <h1 class="page-section-heading blk">About</h1>
                        <hr class="section-hr blk" data-aos="zoom-in">
                        <div id="about-main-content-container" class="">
                                <div id="about-first-flex-container" class="blk" data-aos="fade-up">
                                        <img id="about-img" src="images/profile-pic.png" class="" alt="Profile Picture">
                                        <div id="about-para-flex-container" class="light-blue">
                                                <div id="about-para-text" class="">
                                                        <h3>Hi! My name is Fabian</h3>
                                                        <!-- <br> -->
                                                        <p id="profile-description" class="">
                                                                I am a motivated and passionate software
                                                                developer seeking an opportunity to
                                                                progress my career in
                                                                London’s dynamic tech industry. During
                                                                my studies and
                                                                experience working as a
                                                                graduate software developer with a
                                                                leading Australian
                                                                university, I have developed my
                                                                technical skills and am now
                                                                ready to apply them in a new
                                                                innovative workplace. I am excited about
                                                                taking on a new career challenge in
                                                                London. I invite you to check out the 
                                                                blog and project spaces below for updates 
                                                                on what I'm currently working on.
                                                        </p>
                                                </div>
                                                <a id="download-CV-button" class="primary-button"
                                                        href="docs/Curriculum Vitae.pdf" download>
                                                        <i class="fa fa-download"></i> Download CV
                                                </a>
                                        </div>
                                </div>
                                <ul id="about-second-flex-container" class="light-blue">
                                        <li class="text-center" data-aos="fade"
                                                data-aos-anchor-placement="about-first-flex-container"
                                                data-aos-delay="400">Software
                                                Developer</li>
                                        <li class="text-center" data-aos="fade"
                                                data-aos-anchor-placement="about-first-flex-container"
                                                data-aos-delay="600">London, UK</li>
                                        <li class="text-center" data-aos="fade"
                                                data-aos-anchor-placement="about-first-flex-container"
                                                data-aos-delay="800">
                                                ftauriello@hotmail.com</li>
                                        <li class="text-center" data-aos="fade"
                                                data-aos-anchor-placement="about-first-flex-container"
                                                data-aos-delay="1000">07572093185</li>
                                </ul>
                        </div>
                </section>
                <!-- ABOUT SECTION END -->

                <!-- PROJECTS SECTION -->
                <div id="projects"></div>
                <section id="projects-section" class="">
                        <h1 class="page-section-heading light-blue">Projects</h1>
                        <hr class="section-hr light-blue" data-aos="zoom-in">
                        <div id="projects-main-content-container" class="light-blue">
                                <h4 class="light-blue" style="font-style: italic">...Coming Soon</h4>
                        </div>
                </section>
                <!-- PROJECTS SECTION END -->

                <!-- BLOG SECTION -->
                <div id="blog"></div>
                <section class="">
                        <h1 class="page-section-heading blk">Blog</h1>
                        <hr class="section-hr blk" data-aos="zoom-in">
                        <div id="blog-main-content-container" class="">
                                <!-- MY BOX LAYOUT -->
                                {% for post in site.posts limit: 3 %}
                                {% if forloop.index == 1 %}
                                <div class="blog-card border" data-aos="fade-up">
                                        <img class="blog-thumb-img" src="../images/welcome.jpg" alt="Blog post image">
                                        <div class="blog-post-container">
                                                <a href="{{ post.url }}">
                                                        <h5>{{ post.title }}</h5>
                                                </a>
                                                <p>{{ post.excerpt | truncate: 90 }}</p>
                                                <span>{{ post.date | date_to_string }}</span>
                                        </div>
                                </div>
                                {% elsif forloop.index == 2 %}
                                <div class="blog-card border" data-aos="fade-up">
                                        <img class="blog-thumb-img" src="../images/download.svg" alt="Blog post image">
                                        <div class="blog-post-container">
                                                <a href="{{ post.url }}">
                                                        <!-- <a href="#"> -->
                                                        <h5>{{ post.title }}</h5>
                                                </a>
                                                <p>{{ post.excerpt | truncate: 90 }}</p>
                                                <span>{{ post.date | date_to_string }}</span>
                                        </div>
                                </div>
                                {% else %}
                                <div class="blog-card border" data-aos="fade-up">
                                        <img class="blog-thumb-img" src="../images/download.svg" alt="Blog post image">
                                        <div class="blog-post-container">
                                                <a href="{{ post.url }}">
                                                        <h5>{{ post.title }}</h5>
                                                </a>
                                                <p>{{ post.excerpt | truncate: 90 }}</p>
                                                <span>{{ post.date | date_to_string }}</span>
                                        </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                        </div>
                </section>
                <!-- BLOG SECTION END -->

                <!-- CONTACT SECTION -->
                <div id="contact"></div>
                <section id="contact-section" class="">
                        <h1 class="page-section-heading light-blue">Contact</h1>
                        <hr class="section-hr light-blue" data-aos="zoom-in">
                        <div id="contact-main-content-container" class="">
                                <form id="contact-form" action="https://formspree.io/ftauriello@hotmail.com"
                                        method="POST" class="">
                                        <input id="name-input" type="text" name="name" class="" placeholder="Name">
                                        <input id="email-input" type="email" name="email" class="" placeholder="Email">
                                        <textarea id="text-area-input" class="" name="comment"
                                                placeholder="Comment"></textarea>
                                        <button id="submit-button" type="submit" value="send"
                                                class="primary-button">Submit</button>
                                </form>
                        </div>
                </section>
                <!-- CONTACT SECTION END -->
        </main>
        <!-- FOOTER SECTION -->
        <footer id="footer" class="">
                <div class="footer-icons">
                        <a href="https://www.linkedin.com/in/fabian-tauriello" title="LinkedIn" class="" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a>
                        <a href="https://github.com/FabianTauriello" title="GitHub" target="_blank" class=""><i class="fa fa-github fa-lg"></i></a>
                </div>
                <div class="footer-text">
                        <p class="">© Fabian Tauriello 2019</p>
                        <p class="">Banner photo by LoboStudio Hamburg on Unsplash</p>
                </div>
        </footer>
        <!-- FOOTER SECTION END -->
        <!-- MAIN AREA END -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script src="../js/main.js"></script>
        <script>AOS.init({
                        // Global settings for page scroll animations:
                        disable: 'tablet', // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
                        startEvent: 'DOMContentLoaded', // name of the event dispatched on the document, that AOS should initialize on
                        initClassName: 'aos-init', // class applied after initialization
                        animatedClassName: 'aos-animate', // class applied on animation
                        useClassNames: false, // if true, will add content of `data-aos` as classes on scroll
                        disableMutationObserver: false, // disables automatic mutations' detections (advanced)
                        debounceDelay: 50, // the delay on debounce used while resizing window (advanced)
                        throttleDelay: 99, // the delay on throttle used while scrolling the page (advanced)

                        // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
                        offset: 120, // offset (in px) from the original trigger point
                        delay: 0, // values from 0 to 3000, with step 50ms
                        duration: 1200, // values from 0 to 3000, with step 50ms
                        easing: 'ease', // default easing for AOS animations
                        once: true, // whether animation should happen only once - while scrolling down
                        mirror: false, // whether elements should animate out while scrolling past them
                        anchorPlacement: 'top-bottom', // defines which position of the element regarding to window should trigger the animation
                });</script>
</body>

</html>