<!DOCTYPE html>
<html lang="en">

<head>
        <title>Fabian Tauriello</title>
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
                integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
                crossorigin="anonymous">
        <link rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet"
                href="https://fonts.googleapis.com/css?family=Lobster|Archivo|Cardo|Cormorant|Fira+Sans|Fjalla+One|Frank+Ruhl+Libre|Karla|Bebas+Neue|Lora|Montserrat|Playfair+Display|Playfair+Display+SC|Roboto|Rubik|Spectral|Spectral+SC|Ubuntu">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/main.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

        <header>
                <!-- BACKGROUND PIC -->
                <div id="background-pic-container">
                        <div id="background-pic-caption-container">
                                <span class="">G'DAY :)</span><br>
                                <span class="">THANKS FOR STOPPING BY</span>
                        </div>
                </div>
                <!-- BACKGROUND PIC END -->
        </header>

        <!-- MAIN AREA -->
        <main id="main">
                <!-- NAV BAR -->
                <ul id="navbar">
                        <div id="navLinks">
                                <li class="navLink"><a href="#contact-anchor">Contact</a></li>
                                <li class="navLink"><a href="#blog-anchor">Blog</a></li>
                                <li class="navLink"><a href="#projects-anchor">Projects</a></li>
                                <li class="navLink"><a href="#about-anchor">About</a></li>
                                <li class="navLink active-nav-link"><a href="#">Home</a></li>
                        </div>
                        <li id="navIcon" onclick="toggleNavLinks()" class="navIcon"><a href="javascript:void(0);"><i
                                                class="fa fa-bars"></i></a></li>

                </ul>
                <div id="mobileNavLinks">
                        <li><a href="#about-anchor" onclick="toggleNavLinks()">About</a></li>
                        <li><a href="#projects-anchor" onclick="toggleNavLinks()">Projects</a></li>
                        <hr>
                        <li><a href="#blog-anchor" onclick="toggleNavLinks()">Blog</a></li>
                        <hr>
                        <li><a href="#contact-anchor" onclick="toggleNavLinks()">Contact</a></li>
                        <hr>
                </div>
                <!-- NAV BAR END -->

                <!-- ABOUT SECTION -->
                <div id="about-anchor"></div>
                <section id="about" class="">
                        <h1 class="page-section-heading blk">ABOUT</h1>
                        <hr class="section-hr blk">
                        <div id="about-main-content-container" class="">
                                <div id="about-first-flex-container" class="blk" data-aos="fade-up">
                                        <img id="about-img" src="images/profile-pic.png" class="" alt="Profile Picture">
                                        <div id="about-para-flex-container" class="light-blue">
                                                <div id="about-para-text" class="">
                                                        <h3>Hi! My name is Fabian</h3>
                                                        <br>
                                                        <p id="profile-description" class="">
                                                                I am a motivated and passionate software
                                                                developer seeking an opportunity to
                                                                progress my career in
                                                                London’s dynamic tech industry. During
                                                                my studies and
                                                                experience working as a
                                                                graduate software developer with a
                                                                leading Australian
                                                                university, I have developed my
                                                                technical skills and am now
                                                                ready to apply them in a new
                                                                innovative workplace. I am excited about
                                                                taking on a new career challenge in
                                                                London.
                                                        </p>
                                                </div>
                                                <a id="download-CV-button" class="primary-button"
                                                        href="docs/Curriculum Vitae.pdf" download>
                                                        <i class="fa fa-download"></i> Download CV
                                                </a>
                                        </div>
                                </div>
                                <ul id="about-second-flex-container" class="light-blue">
                                        <li class="text-center" data-aos="fade"
                                                data-aos-anchor-placement="about-first-flex-container">Software
                                                Developer</li>
                                        <li class="text-center" data-aos="fade" data-aos-delay="200"
                                                data-aos-anchor-placement="about-first-flex-container">London, UK</li>
                                        <li class="text-center" data-aos="fade" data-aos-delay="400"
                                                data-aos-anchor-placement="about-first-flex-container">
                                                ftauriello@hotmail.com</li>
                                        <li class="text-center" data-aos="fade" data-aos-delay="600"
                                                data-aos-anchor-placement="about-first-flex-container">07572093185</li>
                                </ul>
                        </div>
                </section>
                <!-- ABOUT SECTION END -->

                <!-- PROJECTS SECTION -->
                <div id="projects-anchor"></div>
                <section id="projects" class="">
                        <h1 class="page-section-heading light-blue">PROJECTS</h1>
                        <hr class="section-hr light-blue">
                        <div id="projects-main-content-container" class="light-blue">
                                <h4 class="light-blue" style="font-style: italic">...Coming Soon</h4>
                        </div>
                </section>
                <!-- PROJECTS SECTION END -->

                <!-- BLOG SECTION -->
                <div id="blog-anchor"></div>
                <section id="blog" class="">
                        <h1 class="page-section-heading blk">BLOG</h1>
                        <hr class="section-hr blk">
                        <div id="blog-main-content-container" class="">
                                <!-- MY BOX LAYOUT -->
                                {% for post in site.posts limit: 3 %}
                                {% if forloop.index == 1 %}
                                <div class="blog-card border" data-aos="fade-up" data-aos-delay="100">
                                        <img src="../images/download.svg" alt="Blog post image">
                                        <div class="blog-post-container border">
                                                <a href="{{ post.url }}">
                                                        <h5>{{ post.title }}</h5>
                                                </a>
                                                <p>{{ post.excerpt }}</p>
                                                <span>date</span>
                                        </div>
                                </div>
                                {% elsif forloop.index == 2 %}
                                <div class="blog-card border" data-aos="fade-up" data-aos-delay="200">
                                        <img src="../images/download.svg" alt="Blog post image">
                                        <div class="blog-post-container border">
                                                <a href="{{ post.url }}">
                                                        <h5>{{ post.title }}</h5>
                                                </a>
                                                <p>{{ post.excerpt }}</p>
                                                <span>date</span>
                                        </div>
                                </div>
                                {% else %}
                                <div class="blog-card border" data-aos="fade-up" data-aos-delay="300">
                                        <img src="../images/download.svg" alt="Blog post image">
                                        <div class="blog-post-container border">
                                                <a href="{{ post.url }}">
                                                        <h5>{{ post.title }}</h5>
                                                </a>
                                                <p>{{ post.excerpt }}</p>
                                                <span>date</span>
                                        </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                        </div>
                </section>
                <!-- BLOG SECTION END -->

                <!-- CONTACT SECTION -->
                <div id="contact-anchor"></div>
                <section id="contact" class="">
                        <h1 class="page-section-heading light-blue">CONTACT</h1>
                        <hr class="section-hr light-blue">
                        <div id="contact-main-content-container" class="">
                                <form id="contact-form" action="https://formspree.io/ftauriello@hotmail.com"
                                        method="POST" class="">
                                        <input id="name-input" type="text" name="name" class="" placeholder="Name">
                                        <input id="email-input" type="email" name="email" class=""
                                                placeholder="Enter email">
                                        <textarea id="text-area-input" class="" name="comment"
                                                placeholder="Your comment"></textarea>
                                        <button id="submit-button" type="submit" value="send"
                                                class="primary-button">Submit</button>
                                </form>
                        </div>
                </section>
                <!-- CONTACT SECTION END -->

        </main>
        <!-- MAIN AREA END -->

        <!-- FOOTER SECTION -->
        <footer id="footer">

                <!-- <span id="linked-in-button" class="fa-stack fa-lg border">
                                        <a href="#"
                                                class="fa fa-circle fa-stack-2x icon-background"></a>
                                        <a href="#" class="fa fa-linkedin fa-stack-1x"></a>
                                </span>
                                <span id="github-button" class="fa-stack fa-lg">
                                        <a href="#"
                                                class="fa fa-circle fa-stack-2x icon-background"></a>
                                        <a hred="#" class="fa fa-github fa-stack-1x"></a>
                                </span> -->

        </footer>
        <!-- FOOTER SECTION END -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script src="../js/main.js"></script>
        <script>AOS.init({
                        // Global settings:
                        disable: 'tablet', // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
                        startEvent: 'DOMContentLoaded', // name of the event dispatched on the document, that AOS should initialize on
                        initClassName: 'aos-init', // class applied after initialization
                        animatedClassName: 'aos-animate', // class applied on animation
                        useClassNames: false, // if true, will add content of `data-aos` as classes on scroll
                        disableMutationObserver: false, // disables automatic mutations' detections (advanced)
                        debounceDelay: 50, // the delay on debounce used while resizing window (advanced)
                        throttleDelay: 99, // the delay on throttle used while scrolling the page (advanced)

                        // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
                        offset: 120, // offset (in px) from the original trigger point
                        delay: 0, // values from 0 to 3000, with step 50ms
                        duration: 1200, // values from 0 to 3000, with step 50ms
                        easing: 'ease', // default easing for AOS animations
                        once: true, // whether animation should happen only once - while scrolling down
                        mirror: false, // whether elements should animate out while scrolling past them
                        anchorPlacement: 'top-bottom', // defines which position of the element regarding to window should trigger the animation
                });</script>
</body>

</html>